
* {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html{
    height: 100%;
    background-image: url(Others_files/NightCity.jpg);
}

h1, h2, h3, h4, h5, h6{
    color: #e31c60;
}


.title {
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}
.logo{
    background: none;
}

.title2{
    display: flex;
    justify-content: center;
    padding-top: 3vw;
}

header h1{
    text-decoration: underline;
    text-decoration-color: white;
    margin: 0;
}

.navbar{
    text-align: center;
    padding-top: 4vw;
    padding-bottom: 4vw;
    size: 50%;
    width: 100%;
}


.navbar a{
    font-size: 1.5vw;
    text-decoration: underline;
    text-decoration-color: #e31c60;
    color: white;
    margin: 1vw;
    transition: all .3s;
    opacity: .9;
    vertical-align: middle;
    background: none;
}


.navbar a:hover{
    color: #e31c60;
    font-size: 1.6vw;
    text-decoration-color: white;
    text-shadow: 10px 30px 10px white;
    opacity: 1
}


.navbar .actual
{
    color: #e31c60;
    font-size: 1.6vw;
    text-decoration-color: white;
    opacity: 1;
}

.navbar .actual:hover{
    text-shadow: 10px 30px 10px #e31c60;
}

header h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.texte {
    background-color: white;
    font-size: 1.3vw;
    text-align: center;
    border: solid 2px;
    border-color: #e31c60;
    padding: 1vw;
    margin: 1vw;
    background-image: url(Others_files/NightCity.jpg);
}

.texte ul{
    background-color: white;
    font-size: 1.3vw;
    border: solid 2px;
    border-color: #e31c60;
    padding: 0.5vw 1.7vw;
    margin: 1vw;
    text-align: left;
    background-image: url(Others_files/NightCity.jpg);
}


.accueil {
    line-height: 95%;
}

.texte ul li {
padding-top: 0.5vw;
line-height: 95%;
}

main {
    padding: 30px;
    border: solid 2px;
    border-top-color: #e31c60;
    border-bottom-color: #e31c60;
}
.divMain {
    width: 50%;
    padding-left: 25%;
}

.second_titles{
    color: white;
    text-decoration: underline;
    text-decoration-color: #e31c60;
    text-align: center;
    padding-bottom: 30px;
    font-size: 2vw;
    font-weight: 500;
}

footer {
    text-align: center;
    padding: 25px 0 25px 0;
}

.error_title{
    color: #e31c60;
    text-transform: capitalize;
    text-align: center;
    vertical-align: middle;
    font-size: 8vw;
}

.subtitles {
    text-decoration: underline;
    text-decoration-color: #e31c60;
    font-weight: 600;
}

.subsubtitles {
    text-decoration: underline;
}

.texte a{
    text-decoration: none;
    opacity: .8;
    transition: all .3s;
}

.texte a:hover{
    font-size: 1.5vw;
    opacity: 1;
    text-shadow: 0px 15px 80px #e31c60;
}

.recap {
font-size: 1.2vw;
text-align: center;
}

.titleProbleme{
    text-decoration: underline;
    font-size: 1.4vw;
}